<!--
Dr Alison Hale, Lancaster University, UK is the sole author of this script indexShiny.html which is published under the MIT License.
See license.txt in root directory for details.
-->



    <!-- radio buttons -->
    <div id="controls" style="display:none"> <!-- hide until radio buttons (or dropdown menu) are built by javascript -->
      <div id="control1">
        <form>
          <div id="control1Text" class="tooltipPopUPBox"><span style="font-style:italic">Outcome:</span>
            <span class="tttext" style="width:300px;margin-bottom:-100px;margin-left:0">
              Select an outcome map. 
              Click map sub-regions to view their outcome values. 
              For maps with timeseries use slider to see all sub-region values change over time.
            </span>
          </div>
          <div id="control1radioButtons" style="display:inline-block;margin-left:5px;"></div> <!-- layer radios/dropdown automatically added here -->
          <div id="controlOptionalDropDown" style="display:inline-block;margin-left:10px"></div> <!-- layer subtype dropdown automatically added here -->
          <div id="control1CloseBut" class="tooltipPopUPBox" style="margin-left:20px">
            <a href="javascript:clearAllLayers()" id="closeButtonRed">&#10006;</a>
            <span class="tttext" style="width:100px;margin-left:-50px;">Close all outcome maps.</span>
          </div>
        </form>
      </div>
      <div id="control2"><!-- base map radio buttons are automatically put here -->
        <form>
          <div class="tooltipPopUPBox">
            <span style="font-style:italic;">Base map:&nbsp;</span>
            <span class="tttext" style="width:200px;margin-left:-100px">
              Click radio button to change base map colour scheme.
            </span>
          </div>
          <div id="control2radioButtons" style="display:inline-block;"></div> <!-- baselayer radio buttons or dropdown are automatically added here -->
          <div class="tooltipPopUPBox" style="margin-left:20px">
            <a href="javascript:reloadPage()" id="closeButtonGrey">&#10006;</a>
            <span class="tttext" style="width:100px;margin-left:-50px">Clear<br>everything!</span>
          </div>
        </form>
      </div>
    </div>
    
    <div class="empty"></div>    
    
    <!-- map -->
    <div id="mapid" style="width:781px; height:621px"></div> <!-- need to specify width & height here otherwise IE doesn't always load map properly -->
                                                             <!-- odd numbers stop IE antialising bug on the css box-shaddow - I'm unsure about this fix! -->
    
    <!-- timeseries graph -->
    <div id="graph" style="height:280px; width:415px">       <!-- need to specify width & height here otherwise elements don't load properly -->
      <canvas id="timeseriesid" height="280" width="415">
        Sorry something has gone wrong, the graph cannot be displayed.
      </canvas>
    </div>
    
    <!-- time slider -->
    <div class="slidercontrols" id="sliderholder"></div>
    <div class="slidercontrols" id="sliderholderhide"></div>
    <div class="slidercontrols" id="playpause"></div>
    <div class="slidercontrols" id="playpausehide"></div>

    <!-- spacer --> <!--needed for landscape orientation so footer text doesn't get highlighted when clicking right arrow -->
    <div id="spacer"></div>

    <!-- footer -->
    <div id="footer"></div>
    
    <div class="empty"></div> <!-- div forces #main to fill webpage properly when in landscape orientation -->


